<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %>
<img src="/assets/images/ZhurbaLogo.png" width="20%" height="20%" alt="Logo">
<!--Lyudmila Zhurba-->
<!--301250531-->
<!--June 20, 2022-->
<!--Editing page-->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Full Name"
                    name="name" 
                    value="<%= entry.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="phoneTextField">Phone</label>
                    <input type="text" class="form-control"
                    id="phoneTextField"
                    placeholder="Enter Phone Number"
                    name="phone" 
                    value="<%= entry.phone %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter E-mail"
                    name="email" 
                    value="<%= entry.email %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                
                <a href="/phonebook" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel
                </a>

            </form>
        </div>
    </div>
</div>

<!--including footer partials-->
<%- include ../partials/bottom_nav.ejs %> 
<%- include ../partials/footer.ejs %>