<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 
<img src="/assets/images/ZhurbaLogo.png" width="20%" height="20%" alt="Logo">
<!--Lyudmila Zhurba-->
<!--301250531-->
<!--June 1, 2022-->
<!--Project page-->
<h3>In my future career I would like to contribute in public services of Ontario</h3>
<h3> <%= title %> I would like to work with:</h3>
<div class="card-group">
    <div class="card">
        <div class="card-header p-0 m-0">
            <img src="/assets/images/health.jpg" class="card-img-top" alt="health">
        </div>
        <div class="card-body">
            <h5 class="card-title">Health Care System of Ontario</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0 m-0">
            <img src="/assets/images/school.jpg" class="card-img-top" alt="school">
        </div>
        <div class="card-body">
            <h5 class="card-title">Education System of Ontario</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0 m-0">
            <img src="/assets/images/govern.jpg"  class="card-img-top" alt="Government">
        </div>
        <div class="card-body">
            <h5 class="card-title">Government of Ontario</h5>
        </div>
    </div>
</div>


<!--including footer partials-->
<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>