<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 

<img src="/assets/images/ZhurbaLogo.png" width="20%" height="20%" alt="Logo">
<!--Lyudmila Zhurba-->
<!--301250531-->
<!--June 1, 2022-->
<!--Services  page-->
<h3>The <%= title %> I am happy to offer: </h3>

<div class="card-group">
    <div class="card">
        <div class="card-header p-0 m-0">
            <img src="/assets/images/development.jpg" class="card-img-top" alt="health">
        </div>
        <div class="card-body">
            <h5 class="card-title">Development</h5>
            <p class="card-text">Web Applications</p>
            <p class="card-text">Mobile Applications</p>
            <p class="card-text">Websites</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0 m-0">
            <img src="/assets/images/Design.jpg" class="card-img-top" alt="school">
        </div>
        <div class="card-body">
            <h5 class="card-title">Design</h5>
            <p class="card-text">UI/UX Design</p>
            <p class="card-text">Logos</p>
            <p class="card-text">Graphic Design</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0 m-0">
            <img src="/assets/images/Innovations.jpg"  class="card-img-top" alt="Government">
        </div>
        <div class="card-body">
            <h5 class="card-title">Innovations</h5>
            <p class="card-text">Modern Technologies</p>
            <p class="card-text">Martket Research</p>
            <p class="card-text">Analyses</p>
        </div>
    </div>
</div>


<!--including footer partials-->
<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>